@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/********************* 관리자 ***************/
/************************* common */
/*** layout ***/
.admin-main {background: #f5f5f5; min-height: 100vh;}

/*** lnb ***/
#lnb {position: fixed; top: 0; left: 0; width: 200px; height: 100vh; z-index: 99;
background: #fff; border-right: 1px solid #ddd; padding: 15px 0;}


